body{
    font-family: 'Heebo', sans-serif;
}

/* Navigation */
.navbar-brand{
    font-weight: 700;
}

.navbar-nav li a:active,
.navbar-nav li a:hover{
    color:cyan!important;
}
/* End Navigation */

/* Home */
.home-content{
    color: #fff;
    width: 100%;
    height: 100vh;
    background-image: url(images/keyboard.jpeg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.home-info p{
    font-size: 1rem;
    padding: 100px;
}

.home-icon .fas{
    color: #26D3FF;
    padding: 4px 8px;
    border: 2px solid #fff;
    border-radius: 100%;
}
/* End Home */

/* Code School */
.code-content{
    background-color: #fff;
    padding: 100px 0;
    display: flex;
    justify-content: center ;
}
.code-img img{
    max-width: 100%;
}
.code-title .h2 {
    font-size: 3rem;
    line-height: 5px;
}
.code-title h3{
    font-size: 1.5rem;
}
.code-rule{
    background-color: #ff0000;
    height: 3px;
    width: 50px;
    margin: 30px 0;
}
.code-text p{
    font-size: 1rem;
    line-height: 30px;
}
.code-list p{
    font-size: 1rem;
    margin-left: 20px;
}
.code-list ul{
    list-style-type: circle;
    margin-bottom: 40px;
}
.code-btn .btn{
    margin: 10px 0;
}
/* why code school */
.fixed-content{
    color: #fff;
    max-width: 100%;
    background-image: url(images/boy-coding.jpeg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    padding: 100px 0;
}
.fixed-title h2{
    font-size: 3rem;
}
.fixed-title p{
    margin: 20px 0;
}
.fixed-rule{
    background-color: #ff0000;
    height: 5px;
    width: 50px;
    margin: 10px 0;
    margin-left: auto;
    margin-right: auto;
}
.fixed-rule1{
    background-color: #ff0000;
    height: 5px;
    width: 30px;
    margin-left: auto;
    margin-right: auto;
}
.fixed-info{
    margin: 30px 0;
    padding: 30px 0;
    display: flex;
    justify-content: center;
}
.fixed-icon .fas{
    color:#fff;
    font-size: 3rem;
    padding: 8px 9px;
    border: 2px solid cyan;
    border-radius: 200%;
}
.fixed-icon .fas:hover{
    background-color: cyan;
    border: 3px solid rgb(10, 105, 105);
    border-radius: 200%;
}
.fixed-text{
    margin: 10px 0;
}

/* Our Services */

#ourservices{
    padding: 100px 0;
}
.fixed-title h6{
    margin: 20px auto;
}
#ourservices .fixed-icon .fas{
    color: #000;
}
.service-btn .btn{
    padding: 10px 40px;
}

/* Our Partners */

.partner{
    color: #fff;
    max-width: 100%;
    background-image: url(images/lit-keyboard.jpeg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    padding: 100px 0;
}

/* Our work */

#ourwork{
    padding: 100px 0;
}
#ourwork .fixed-title p{
    margin: 20px 0;
}
.work-btn{
    margin-top: 70px;
    margin-bottom: 20px;
}
.work-video iframe{
    max-width: 100%;
}

/* testimonials */

#testimonials{
    color: #fff;
    max-width: 100%;
    background-image: url(images/kids-playing.jpeg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    padding: 100px 0;
}

/* Our contact */

#contactus{
    padding: 100px 0;
}
.contact-content{
    display: flex;
    margin: 30px auto;
    justify-content: space-around;
    align-items: center;
}
.contact-map iframe{
    max-width: 100%;
}
.contact-icon{
    margin-bottom: 20px;
}
.contact-icon .fab{
    font-size: 2rem;
    border: 2px solid #212529;
    border-radius: 200%;
    padding: 4px 5px;
    background-color: #fff;
}
.contact-icon .fab:hover{
    background-color: #f00;
    border: none;

}

/* Footer */

footer{
    max-width: 100%;
    padding: 10px 50px;
    background-color: #212529;
    color: #fff;
}
.footer-content{
    display: flex;
    justify-content: space-around;
}
.footer-icon .fab{
    border: 2px solid #212529;
    border-radius: 200%;
    padding: 4px 5px;
    /* background-color: #fff; */
}
.footer-icon .fab:hover{
    background-color: #f00;
    border: none;

}


/* Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {
    /* code school */
    .code-content{
        display: block;
        background-color: #fff;
        padding: 100px 0;
    }
    .code-img img{
        max-width: 100%;
        margin-bottom: 10px;
    }
    /* why code school*/
    .fixed-title h2{
        font-size: 1.5rem;
    }
    .fixed-info{
        margin: 30px 0;
        padding: 30px 0;
        display: block;
    }
    .fixed-icon .fas{
        color:#fff;
        font-size: 1.5rem;
        padding: 8px 9px;
        border: 2px solid cyan;
        border-radius: 200%;
    }

    /* our partners */
    .partner .fixed-info .fixed-icon{
        align-items: center;
        justify-content: center;
        margin: 20px auto;
    }


    /*our work */
    .work-video iframe{
        padding: 10px;
        max-width: 100%;
    }

    /* our contact */
    .contact-content{
        display: block;
        margin: 30px 10px;
    }

    .contact-icon .fab{
        font-size: 1.5rem;
        border: 2px solid #212529;
        border-radius: 200%;
        padding: 4px 5px;
        background-color: #fff;
    }

    .contact-map iframe{
        padding: 10px;
        max-width: 100%;
    }

    /* footer */

    .footer-content{
        display: block;
        
    }

}

/* Medium devices (tablets, less than 992px) */
@media (max-width: 991.98px) {
        /* code school */
        .code-content{
            display: block;
            background-color: #fff;
            padding: 100px 0;
        }
        .code-img img{
            max-width: 100%;
            margin-bottom: 10px;
        }
        /* why code school*/
        .fixed-title h2{
            font-size: 1.5rem;
        }
        .fixed-info{
            margin: 30px 0;
            padding: 30px 0;
            display: block;
        }
        .fixed-icon .fas{
            color:#fff;
            font-size: 1.5rem;
            padding: 8px 9px;
            border: 2px solid cyan;
            border-radius: 200%;
        }
    
        /* our partners */
        .partner .fixed-info .fixed-icon{
            align-items: center;
            justify-content: center;
            margin: 20px auto;
        }
    
    
        /*our work */
        .work-video iframe{
            padding: 10px;
            max-width: 100%;
        }
    
        /* our contact */
        .contact-content{
            display: block;
            margin: 30px 10px;
        }
    
        .contact-icon .fab{
            font-size: 1.5rem;
            border: 2px solid #212529;
            border-radius: 200%;
            padding: 4px 5px;
            background-color: #fff;
        }
    
        .contact-map iframe{
            padding: 10px;
            max-width: 100%;
        }
    
        /* footer */
    
        .footer-content{
            display: block;
            
        }
    
    }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) { ... }
